<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="form_contatiner">
        <form action="" method="post" id="myForm">
          <div class="email">
            <label for="email">Email</label>
            <input value=""  name="email" type="email" id="email" class="field"/>
          </div>
          <div class="password">
            <div class="pss">
              <label for="pss">Password</label>
              <input value="" type="password"  name="password" class="field"/>
            </div>
            <div class="cpss">
              <label for="cpss">Confirm password</label>
              <input value="" type="password"  name="repassword" class="field" id="cpss"/>
            </div>
          </div>
          <button type="submit">Click</button>
        </form>
      </div>
    </div> 
    <script src="../public/javascript/dom.js"></script>
  </body>
</html>
